// COLOR VARIABLES
$clr-background: hsl(180, 8%, 95%);
$clr-text-white: hsl(200, 38%, 94%);
$clr-background-dark: hsl(201, 82%, 7%);
$clr-primary: hsl(200, 83%, 33%);
$clr-primary-dark: hsl(201, 83%, 9%);
$clr-secondary: hsl(198, 76%, 23%);
$clr-tertiary: hsl(180, 84%, 38%);
$clr-accent: hsl(47, 100%, 51%);
$clr-extra: hsl(255, 30%, 50%);
$clr-shadow: hsla(0, 0%, 0%, 0.24);
$clr-shadow-light: hsla(0, 0%, 0%, 0.05);
$clr-boxshadow: hsla(0, 0%, 0%, 16%);

$clr-hero-btn: hsl(201, 82%, 7%);